/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
* {
  box-sizing: border-box;
}

/* line 22, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/RailsInstaller/Ruby1.9.3/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/_variables.scss */
.aligncenter, h1, header, footer, .price, .fame {
  text-align: center;
}

/* line 4, ../sass/_base.scss */
html {
  font-size: 87.52%;
}

/* line 5, ../sass/_base.scss */
body {
  background: #fff;
  color: #333;
}

/* line 10, ../sass/_base.scss */
.wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

/* line 17, ../sass/_base.scss */
.fl, .fame {
  float: left;
}

/* line 18, ../sass/_base.scss */
.fr {
  float: right;
}

/*Clearfix*/
/* line 22, ../sass/_base.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 26, ../sass/_base.scss */
.clearfix:after {
  clear: both;
}

/* line 29, ../sass/_base.scss */
.clearfix {
  /*For IE6/7*/
  *zoom: 1;
}

/* line 34, ../sass/_base.scss */
.aligncenter, h1, header, footer, .price, .fame {
  text-align: center;
}

/* line 35, ../sass/_base.scss */
.alignleft {
  text-align: left;
}

/* line 36, ../sass/_base.scss */
.alignright {
  text-align: right;
}

/* largeurs de blocks */
/* line 39, ../sass/_base.scss */
.w10 {
  width: 10%;
}
.w15  {
  width: 15%;
}
/* line 40, ../sass/_base.scss */
.w20,.price {
  width: 20%;
}

/* line 41, ../sass/_base.scss */
.w23, .fame {
  width: 23%;
}

/* line 42, ../sass/_base.scss */
.w25 {
  width: 25%;
}

/* line 43, ../sass/_base.scss */
.w30 {
  width: 30%;
}

/* line 44, ../sass/_base.scss */
.w33 {
  width: 33.333%;
}

/* line 45, ../sass/_base.scss */
.w40 {
  width: 40%;
}

/* line 46, ../sass/_base.scss */
.w45 {
  width: 45%;
}

/* line 47, ../sass/_base.scss */
.w49 {
  width: 49%;
}

/* line 48, ../sass/_base.scss */
.w50 {
  width: 50%;
}

/* line 49, ../sass/_base.scss */
.w60 {
  width: 60%;
}

/* line 50, ../sass/_base.scss */
.w66 {
  width: 66.666%;
}

/* line 51, ../sass/_base.scss */
.w70 {
  width: 70%;
}

/* line 52, ../sass/_base.scss */
.w75 {
  width: 75%;
}

/* line 53, ../sass/_base.scss */
.w80 {
  width: 80%;
}

/* line 54, ../sass/_base.scss */
.w90 {
  width: 90%;
}

/* line 55, ../sass/_base.scss */
.w100, .table {
  width: 100%;
}

/* line 57, ../sass/_base.scss */
strong,
.strong {
  font-weight: bold;
}

/* line 61, ../sass/_base.scss */
textarea {
  resize: vertical;
}

/* line 66, ../sass/_base.scss */
a {
  color: #36a8e0;
}
/* line 70, ../sass/_base.scss */
a:hover, a:active, a:focus {
  color: #0090ef;
}

@font-face {
  font-family: 'museo_300regular';
  src: url("../fonts/museo300-regular-webfont.eot");
  src: url("../fonts/museo300-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo300-regular-webfont.woff") format("woff"), url("../fonts/museo300-regular-webfont.ttf") format("truetype"), url("../fonts/museo300-regular-webfont.svg#museo_300regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_700regular';
  src: url("../fonts/museo700-regular-webfont.eot");
  src: url("../fonts/museo700-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo700-regular-webfont.woff") format("woff"), url("../fonts/museo700-regular-webfont.ttf") format("truetype"), url("../fonts/museo700-regular-webfont.svg#museo_700regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 16, ../sass/_typography.scss */
body {
  font: 1em Arial, sans-serif;
  line-height: 1.6em;
}

/* line 21, ../sass/_typography.scss */
h1 {
  margin: 0 30px;
  font: 2.571em "museo_700regular", Arial, sans-serif;
  font-weight: bold;
  color: #36a8e0;
  text-transform: uppercase;
}
/* line 29, ../sass/_typography.scss */
h1 span {
  font: 300 0.9em "Open Sans", Arial, sans-serif;
  border-top: 1px solid #d6eeff;
}

/* line 34, ../sass/_typography.scss */
h2 {
  margin: 0 0 0.8em;
  font: 1.5em "museo_700regular", Arial, sans-serif;
  color: #36a8e0;
}

/* line 39, ../sass/_typography.scss */
h3 {
  margin: 0 0 0.8em;
  font: 1.3em "museo_700regular", Arial, sans-serif;
}

/* line 43, ../sass/_typography.scss */
h4 {
  font: 1.1em "museo_700regular", Arial, sans-serif;
}
header nav {
  padding: 45px 0 35px;
}
/* line 47, ../sass/_typography.scss */
header nav li,
footer nav li {
  font: 1.3em "museo_700regular", Arial, sans-serif;
}
/* line 50, ../sass/_typography.scss */
header nav li a,
footer nav li a {
  text-decoration: none;
}
/* line 53, ../sass/_typography.scss */
header nav li a:after,
footer nav li a:after {
  content: " - ";
  padding: 0 15px;
}
/* line 58, ../sass/_typography.scss */
header nav li.last a:after,
footer nav li.last a:after {
  content: "";
  padding: 0;
}

/* line 3, ../sass/_layout.scss */
nav li {
  display: inline-block;
  vertical-align: middle;
}
table {
    width: 100%;
}
td {
    text-align: center;
}

/* line 8, ../sass/_layout.scss */
p {
  margin: 0 0 15px;
}

/* line 11, ../sass/_layout.scss */
article {
  margin: 0 0 30px;
}

/* line 15, ../sass/_layout.scss */
.btn {
  margin: 0.8em 0 0;
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #36a8e0;
  color: #fff;
  text-decoration: none;
}
/* line 23, ../sass/_layout.scss */
.btn:hover {
  color: #fff;
}

/* line 28, ../sass/_layout.scss */
.table {
  display: table;
}

/* line 34, ../sass/_layout.scss */
header {    
  margin-bottom: 30px;
  border-top: 5px solid #36a8e0;
}
/* line 39, ../sass/_layout.scss */
header .wrapper {
  padding: 0 0 10px;
  border-bottom: 1px solid black;
}

/* === HOME === */
/* line 50, ../sass/_layout.scss */
.intro {
  padding: 20px;
  margin: 0 0 30px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #f5f5f5;
}

.intro > div {
  margin: 0 auto;
}
/* line 57, ../sass/_layout.scss */
.follow {
  background: #fff;
  height: 100%;
}

/* line 62, ../sass/_layout.scss */
.price {
  padding: 15px 0;
  display: table-cell;
  border: 1px solid black;
}
/* line 69, ../sass/_layout.scss */
.price h3 {
  padding: 5px 0;
  color: #fff;
  background: #36a8e0;
}
/* line 75, ../sass/_layout.scss */
.price .amount {
  margin: 10px 0 0;
  font-weight: bold;
}

/* line 81, ../sass/_layout.scss */
#horaires, #pourqui {
  padding: 0 2% 0 0;
}

/* line 84, ../sass/_layout.scss */
#services, #pourquoi {
  padding: 0 3%;
}

/* line 87, ../sass/_layout.scss */
#fonctionnement, #role {
  padding: 0 0 0 2%;
}

/* === WALL OF VOUS === */
/* line 93, ../sass/_layout.scss */
.fame {
  margin: 0 9px;
}
/* line 98, ../sass/_layout.scss */
.fame a {
  padding: 10px 0 5px;
  display: block;
  border: 1px solid #d1e5f3;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* === CONTACT === */
/* line 109, ../sass/_layout.scss */
.form-line {
  padding: 12px 0 !important;
}

/* line 112, ../sass/_layout.scss */
.form-button-error {
  display: block !important;
}

/* line 115, ../sass/_layout.scss */
.form-line-error {
  background: none !important;
}



@media (max-width:989px) {
  .wrapper {
    width: 100%;
    padding: 0 20px;
  }
  .w30 {
    width: 100%;
  }
  .fl {
    float: none;
  }
  #services, 
  #pourquoi,
  #fonctionnement,
  #role {
    padding: 0;
  }
  .price {
    display: block;
    width: 100%;
  }
}